<div class="center white-bg">
    <div class="content-section-second">
        <h1>No estas convencido? mira lo que he construído</h1>

        <div class="row">
            <div class="card">
                <h3>Mailer App</h3>
                <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
                <a href="https://mailer-app-jfh.herokuapp.com/">Link aquí</a>
            </div>
            <div class="card">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a href="{{ url_for('static', filename='clientes.exe') }}">Link aquí</a>
            </div>
            <div class="card">
                <h3>Gestor de Tareas</h3>
                <p>Una aplicación para gestionar mis tareas.</p>
                <a href="{{ url_for('static', filename='TodoList.exe') }}">Link aquí</a>
            </div>
        </div>
    </div>
</div>